<div class="FooterMenu">
    <ul class="footermenu-list footermenu-list-primary">
        <li class="footermenu-item"><a class="footermenu-link" href="/">Home</a></li>
        <li class="footermenu-item"><a class="footermenu-link" href="/docs/1.0/">Documentation</a></li>
        <li class="footermenu-item"><a class="footermenu-link" href="/support/">Support</a></li>
    </ul>
    <ul class="footermenu-list footermenu-list-secondary">
        <li class="footermenu-item"><a class="footermenu-link" href="/contributing/">Contributing</a></li>
        <li class="footermenu-item"><a class="footermenu-link" href="/credits/">Credits</a></li>
        <li class="footermenu-item"><a class="footermenu-link" href="/changelog/">Changelog</a></li>
    </ul>
</div>
