<div class="MainMenu">
    <ul class="mainmenu-list">
        <li class="mainmenu-item"><a class="mainmenu-link" href="/">Home</a></li>
        <li class="mainmenu-item"><a class="mainmenu-link" href="/docs/1.0/">Documentation</a></li>
        <li class="mainmenu-item"><a class="mainmenu-link" href="/support/">Support</a></li>
        <li class="mainmenu-item mainmenu-item-has-children">
            <a class="mainmenu-link" href="/">More</a>
            <ul class="mainmenu-list">
                <li class="mainmenu-item"><a class="mainmenu-link" href="/contributing/">Contributing</a></li>
                <li class="mainmenu-item"><a class="mainmenu-link" href="/credits/">Credits</a></li>
                <li class="mainmenu-item"><a class="mainmenu-link" href="/changelog/">Changelog</a></li>
            </ul>
        </li>
    </ul>
</div>
