<!DOCTYPE html>
<html dir="ltr" lang="en-GB" class="HOME">

<include src="includes/head.html"></include>

<body vocab="http://schema.org/">

    <div class="WRAPPER">

        <header class="BANNER">
            <div class="CONTAINER">
                <div class="BANNER_LOGO">
                    <include src="includes/LogoBig.html"></include>
                </div>
                <div class="BANNER_TAGLINE">
                    <div class="Tagline">
                        <p class="tagline-tagline">{{ description }}</p>
                    </div>
                </div>
            </div>
        </header>

        <main class="MAIN">
            <div class="CONTAINER">
                <div class="MAIN_BODY">
                    <div class="Article">
                        {{ __article__ }}
                    </div>
                </div>
            </div>
        </main>
        <div class="CLEAR_FOOTER"></div>
    </div>

    <footer class="FOOTER">
        <div class="CONTAINER">
            <nav class="FOOTER_MENU">
                <include src="includes/FooterMenu.html"></include>
            </nav>
            <div class="FOOTER_LEGAL">
                <include src="includes/LegalNotices.html"></include>
            </div>
        </div>
    </footer>

</body>

</html>
