
.Headline {

    h1 {
        font-size: $font_size_h1;
        //font-weight: $font_weight_sans_normal;
        font-weight: $font_weight_mono_bold;
        letter-spacing: -0.01em;
        line-height: $line_height_h1;
    }

}
